.profile {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 42px 0 30px;
}

@media screen and (max-width: 576px) {
  .profile {
    flex-direction: column;
    margin-bottom: 19px;
  }
}
