.profile__edit {
  position: relative;
  top: 15px;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/icon-edit.svg');
  background-size: 10px 10px;
  border: 1px solid white;
  margin-left: 18px;
}

.profile__edit:hover {
  opacity: 0.6;
}

@media screen and (max-width: 576px) {
  .profile__edit {
    top: 9px;
    width: 18px;
    height: 18px;
    background-size: 7.5px 7.5px;
    margin-left: 10px;
  }
}
