.container {
  display: flex;
  flex-direction: column;
  max-width: 940px;
  min-width: 320px;
  min-height: 100vh;
  padding: 0 30px;
  margin: 0 auto;
  box-sizing: border-box;
}

@media screen and (max-width: 639px) {
  .container {
    padding: 0;
  }
}
