.profile__name-text {
  max-width: calc(100% - 42px);
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  margin: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media screen and (max-width: 576px) {
  .profile__name-text {
    max-width: calc(100% - 28px);
    font-size: 27px;
    line-height: 33px;
  }
}
