.profile__description {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 18px;
  line-height: 22px;
  overflow: hidden;
  margin: 16px 0 0;
}

@media screen and (max-width: 639px) {
  .profile__description {
    text-align: center;
    font-size: 14px;
    line-height: 17px;
    margin-top: 14px;
  }
}
