.profile__name {
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  overflow: hidden;
  margin: 0;
}

@media screen and (max-width: 639px) {
  .profile__name {
    text-align: center;
    font-size: 27px;
    line-height: 33px;
  }
}
