.modal {
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 320px;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  padding: 19px;
  box-sizing: border-box;
}
