.profile__info {
  max-width: calc(100% - (120px + 150px));
  padding-left: 30px;
  padding-right: 72px;
  box-sizing: border-box;
}

@media screen and (max-width: 767px) {
  .profile__info {
    max-width: calc(100% - 120px);
  }
}

@media screen and (max-width: 639px) {
  .profile__info {
    margin-top: 26px;
    max-width: 100%;
    padding: 0 28px;
  }
}
