.card__like {
  width: 22px;
  height: 19px;
  background-image: url('../../../images/icon-heart-white.svg'),
    url('../../../images/icon-heart-black.svg');
  background-size: contain, 0;
}

.card__like:hover {
  opacity: 0.5;
}
